footer {
  background-color: var(--bs-dark);
  color: white;

  padding: $margin-2xl 0;

  a {
    display: inline-block;
    color: inherit !important;
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
    &:hover {
      opacity: 0.7;
      transform: scale(1.05) !important;
    }
  }

  .inner-footer {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-areas: "content social" "links links";
  }

  .content {
    grid-area: content;

    img {
      width: 50px;
      // height: auto;
      margin-bottom: $margin-md;
    }
    h2 {
      font-weight: 700;
      // font-size: $heading-2;
      color: inherit;
      margin-bottom: $margin-sm;
    }
    a {
      font-weight: 400;
      // font-size: $text-3;
    }
  }

  .social {
    grid-area: social;
    display: flex;
    flex-flow: column;
    align-self: flex-end;
    text-align: right;

    h3 {
      font-weight: 600;
      font-size: $text-2;
      margin-bottom: $margin-md;
    }

    .icons {
      font-size: $heading-5;
      display: flex;
      gap: calc($margin-lg * 1.5);
      line-height: 1;
      justify-content: flex-end;

      a {
        color: var(--bs-dark);
        transition: transform 0.2s ease;
        &:hover {
          color: var(--bs-primary);
          transform: scale(1.1);
        }
      }
    }
  }

  .links {
    grid-area: links;
    margin-top: $margin-xl;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: $margin-xl;
  }
}

.bottom {
  background-color: #030724;
  color: rgba(white, 0.7);
  text-align: center;
  padding: $margin-md 0;
  letter-spacing: 0.6px;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: $margin-md;
  font-size: $text-4;

  b {
    font-family: "Lora", serif;
  }
  small {
    font-family: "Lora", serif;
    // font-size: 12px;
    font-style: italic;
  }
}

@media all and (max-width: 1200px) {
@media all and (min-width: 992px) {
  footer .container {
    width: 800px;
  }
}
}

@media all and (max-width: 768px) {
  footer {
    .links {
      font-size: $text-5;
    }
  }
}

@media all and (max-width: 576px) {
  footer {
    .inner-footer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "content" "social" "links";
      align-items: center;
      text-align: center;
      gap: $margin-xl;
    }

    .social {
      text-align: center;
      h3 {
        font-size: $text-4;
      }
      .icons {
        justify-content: center;
      }
    }

    .links {
      margin-top: 0;
      flex-flow: column;
      gap: $margin-md;
    }
  }

  .bottom {
    font-size: $text-5;
    flex-flow: column;
    padding: $margin-lg 0;

    div:nth-child(2) {
      display: flex;
      flex-flow: column;
    }
  }
}
