.cta {
  width: 404px;
  text-align: center;

  max-width: 100%;

  margin: $margin-3xl auto $margin-2xl;

  
  h2 {
    font-weight: 700;
    max-width: 100%;
    margin: 0 auto $margin-xl;
    font-size: $heading-2;
  }

}

@media all and (max-width: 768px) {
  .cta {
    width: unset;
    h2 {
      width: 350px;
      font-size: $heading-3;
    }
  }
}


@media all and (max-width: 576px) {
  .cta {
    padding: 0 calc($margin-view / 2);
    
    h2 {
      // width: 300px;
    }
    .btn {
      font-size: 1rem;
    }
  }
}