/* Bold */
@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Bold.ttf');
  font-weight: 700;
}
/* Bold Italic */
@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
/* Bold Italic */
@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}