$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 48px;
$margin-2xl: 72px;
$margin-3xl: 108px;

$margin-view: 20px;
$margin-view-xs: 4vw;
$margin-view-xxs: 2.5vw;

$margin-negative: 20px;

$heading-6: 22px;
$heading-5: 24px;
$heading-4: 28px;
$heading-3: 32px;
$heading-2: 40px;
$heading-1: 48px;

$text-1: 20px;
$text-2: 18px;
$text-3: 16px;
$text-4: 15px;
$text-5: 14px;
$text-6: 12px;

$radius-sm: 72px;
$radius-md: 125px;
$radius-lg: 250px;