.benefits {
  // margin-top: calc(-1 * $radius-lg);
  // padding-top: calc($radius-lg + $margin-negative + $margin-3xl);
  padding-top: $margin-3xl;

  position: relative;
  z-index: 0;

  background: linear-gradient(rgba(#ec4e20, 0.15), rgba(#ec4e20, 0));

  color: var(--bs-body);

  .container > .content {
    width: 650px;
    margin: auto;
    text-align: center;
    margin-bottom: $margin-2xl;
    h2 {
      font-weight: 700;
      font-size: $heading-2;
    }

    p {
      font-weight: 300;
      font-size: $text-2;
    }
  }

  .inner-benefits {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-wrap: wrap;

    gap: 72px;

    .benefit {
      color: var(--bs-dark);
      img {
        display: block;
        width: 100%;

        margin-bottom: calc($margin-lg * 1.5);

        border-radius: 0 72px;
      }

      h3 {
        font-weight: 600;
        font-size: $heading-3;

        margin-bottom: $margin-md;
      }

      p {
        font-size: $text-3;
        font-weight: 300;
        margin-bottom: 0;
      }

      &:nth-child(2n) {
        text-align: right;
      }

      &:nth-child(2) img {
        border-radius: 72px 0;
      }
      &:nth-child(3) img {
        border-radius: 72px 0;
      }
    }
  }
}
