.hero {
  padding-top: $margin-3xl;

  background-color: white;
  border-radius: 0 0 $radius-lg 0;

  position: relative;
  z-index: 1;
  width: 100%;

  .inner-hero {
    display: flex;

    gap: $margin-2xl;
    align-items: center;
    justify-content: center;

    img {
      margin-bottom: calc(-1 * $margin-negative);
      width: 510px;
      object-fit: cover;
      // border-radius: 0 $radius-md 0 0;
    }

    .content {
      margin-bottom: calc(-1 * $margin-negative);
      text-align: left;
      width: 420px;
      max-width: 100%;

      img, svg {
        display: block;
        height: $heading-2;
        width: auto;
        margin-bottom: $margin-2xl;
      }

      h1 {
        font-size: $text-2;
        font-weight: 300;
        margin-bottom: $margin-md;
      }
      h2 {
        font-size: $heading-1;
        font-weight: 500;
        margin-bottom: $margin-xl;
      }
    }
  }
}
